#container {
    padding-right: 25px;
    padding-left: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

#header {
    padding-top: 0px;
    background: var(--bs-black);
    position: sticky;
}

#btnDiv {
    width: 75.9px;
}

#navbar {
    margin: 0px;
    position: sticky;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
    padding-top: 10px;
    background: var(--bs-gray-400);
    padding-bottom: 10px;
}

#homeLink {
    background: url("../../assets/img/icons8-home-page-30.png") center / contain no-repeat, var(--bs-border-color-translucent);
    width: 40px;
    height: 45px;
    --bs-body-bg: var(--bs-btn-bg);
    border-width: 0px;
}

#moduleTitleDiv {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: var(--bs-border-color-translucent);
    padding-left: 10px;
    padding-right: 10px;
}

#moduleTitleParagraph {
    font-size: 20px;
    color: var(--bs-white);
    text-align: left;
}

#navBarImgDiv {
    padding-left: 10px;
    padding-right: 10px;
}

#navBarImgDiv>div {
    max-width: 100%;
}

#navBarLinksDiv {
    padding-right: 15px;
}

#contentTableDiv {
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: fixed;
}

section {
    padding-right: 20px;
    padding-left: 20px;
}

#footerLogo {
    font-size: 112px;
}