/* #container {
    padding-right: 25px;
    padding-left: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

#header {
    padding-top: 0px;
    background: var(--bs-black);
    position: sticky;
} */
#homeLinkAndModuleHeader>div {
    background-color: #cdc9c9;
    padding-left: 12px;
}

#homeLinkAndModuleHeader>div>button {
    background: url("../../assets/img/icons8-home-page-30.png") center / contain no-repeat;
    width: 40px;
    height: 45px;
    border-width: 0px;
}

/* #navbar {
    margin: 0px;
    position: sticky;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
    padding-top: 10px;
    background: var(--bs-gray-400);
    padding-bottom: 10px;
} */

/* div #homeLink {
    background-color: var(--bs-black);
} */


/* #homeLinkAndModuleHeader{
    background-color: ;
} */

#moduleTitleParagraph {
    font-size: 20px;
    color: var(--bs-white);
    text-align: left;
    background-color: #cdc9c9;
    padding-left: 10px;
    padding-right: 10px;
}

/* #navBarImgDiv {
    padding-left: 10px;
    padding-right: 10px;
}

#navBarImgDiv>div {
    max-width: 100%;
}

#navBarLinksDiv {
    padding-right: 15px;
} */

#contentTableDiv {
    background-color: #cdc9c9;
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 100px;
    top: 13.3%;
    left: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;

}


/* li {
    border: #000 1px solid;
} */

#contentTableDiv li a {
    text-decoration: none;
    color: #000;
}

#contentTableDiv li:hover {
    color: #000;
    background-color: #afafaf;
}


section {
    padding-right: 20px;
    padding-left: 20px;
}

/* footer {
    position: relative;
} */